$primary-font: open sans;
$light_orange: #EDCF53;
$dark_orange: #FBBA00;

//Button shape - and other
@mixin btn-padding($var1, $var2) {
  padding-top: $var1;
  padding-bottom: $var1;
  padding-left: $var2;
  padding-right: $var2;
}
@mixin border-radius($topLeft, $topRight, $bottomLeft, $bottomRight) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-bottom-right-radius: $bottomRight;
}

//Container-fluid
.wrapperContainer {
  height: 100%;
  background-color: darkgrey;
  padding:0;
  width:100%;
}

//Row
.mainContainer {
}

.formContainer {
  font-family: $primary-font;
  text-align: center;
  margin-top: 200px;
  height: auto;
  padding-top: 15px;
  z-index: 1;
  border-radius:5px;
  -webkit-box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.20);
  -moz-box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.20);
  box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.20);

  .titleAndText {
    h3 {
      color:black;
      opacity:0.8;
    }
    h3::first-letter {
      border-bottom:3px solid #BCC7FF;
    }
    p {
      margin:0 auto;
      width:50%;
      padding-top:10px;
      padding-bottom:25px;
      margin-bottom:25px;
      border-bottom:1px solid lightgrey;
    }
  }

  .textFieldName {
    height: 40px;
    background-color: white;
    border: 2px solid darkgrey;
    @include border-radius(5px, 5px, 0px, 0px);
  }

  .textFieldYear {
    @extend .textFieldName;
    @include border-radius(0px, 0px, 5px, 5px);
    border-top:none;
  }
}

.btnContainer {
  @include btn-padding(50px, 0px);
  @include border-radius(0px, 0px, 5px, 5px);
  margin-top:25px;
  background-color:#BCC7FF;

  input {
    @include btn-padding(15px, 25px);
    background-color:white;
    border:2px solid darkgrey;
    border-radius:5px;
  }
}

.formContainer::after {
  background-color:white;
  content: '';
  opacity: 0.85;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  border-radius:5px;
}

@media only screen
  and (max-device-width: 500px)
  and (orientation: portrait) {

    .formContainer {
      margin-top: 75px;
    }
  }

@media only screen
  and (max-device-width: 700px)
  and (orientation: landscape) {
    .formContainer {
      margin-top:50px;
    }
  }
