* {
    margin:0;
    padding:0;
}

.container-fluid {
    margin-top:125px;
}

.locationContainer, #windSpeed, #humidity, #temp {
    text-align:center;
    font-family:open sans;
}

#temp {
    margin-bottom:50px;
}

#location, #temp {
    font-size:2.8em;
}

#time {
    font-size:1.4em;
    margin-bottom:50px;
}

.windImg {
    width:50px
}

.humidityImg {
    width:40px
}

.windSpdTxt, .humidityTxt {
    padding-top:10px;
    padding-bottom:25px;
}

#minTemp, #maxTemp {
    text-align:center;
    padding-top:15px;
    font-family:open sans;
}

#weatherImg {
    width:100px;
    display:block;
    margin:0 auto;
}
.questionMarkImg {
    width:20px;
    cursor:pointer;
    margin-bottom:10px;
}
.findLocation {
    width:75%;
    font-size:16px;
    outline:none;
    border:1px solid black;
    background-color:beige;
    padding-left:10px;
    height:35px;
}



@media only screen and (max-width:767px) {
    .container-fluid {
        margin-top:50px;
    }
    #weatherImg {
        width:65px;
    }
    .findLocation {
        width:50%;
    }
}) 