* {
    padding:0;
    margin:0;
}

#wrapper {
    width:100%;
    height:auto;
    background-color:#E2E6E6;
}

.mainContainer {
    padding:0;
    margin:0;
}

.navRow {
    position:fixed;
    width:100%;
    z-index:1;
}

.navContainer {
    height:50px;
    background-color:#E2E6E6;
    z-index:1;
}

.previewImgRow {
    background-color:#1D1128;
    background-image:url('../Backgrounds/portfolioBG.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.previewImgIcon {
    margin:0 auto;
    display:block;
    width:50px;
    transition:0.25s ease-in-out;
}

.previewImgIcon:hover {
    cursor:pointer;
}
.homeBtnText {
    display:inline-block;
    position:absolute;
    top:15px;
    left:25px;
    font-family:open sans;
    font-size:;
    color:black;
}



.previewImgContainer {
    margin-top:100px;
    margin-bottom:50px;
}

.previewImg {
    width:100%;
    height:auto;
    border:15px solid white;
    box-shadow:25px 25px 50px 0px rgba(0,0,0,0.1);
    border-radius:5px;
}
.columnRow {
    background-color:#E2E6E6;
    padding-bottom:50px;
}
.columnOne, .columnTwo, .columnThree {
    background-color:#E2E6E6;
    height:auto;
    margin-bottom:;
}

.columnTitle {
    width:75%;
    margin:0 auto;
    font-family:alfa slab one;
    margin-top:50px;
    margin-bottom:20px;
    color:#1D1128;
    opacity:0.8;
}
.columnTitle::first-letter {
    border-bottom:3px solid coral;
}

.columnText {
    font-family:open sans;
    font-size:1.2em;
    line-height:2;
    color:black;
    display:block;
    margin:0 auto;
    margin-bottom:25px;
    width:75%;
}
.imgContainer {
    width:100%;
}

.alternateImg {
    width:75%;
    border:15px solid white;
    border-radius:5px;
    display:block;
    margin:0 auto;
    margin-top:25px;
    margin-bottom:25px;
    transition:0.25s ease-in-out;
}
.alternateImg:hover {
    cursor:pointer;
}

.rotate {
    width:75px;
    height:75px;
    position:absolute;
    border-radius:50px;
    background-color:coral;
    top:75px;
    right:60px;
}

.rotate:hover {
    cursor:pointer;
}

.rotateImg {
    position:absolute;
    width:50px;
    opacity:0.75;
    top:12px;
    left:12px;
    transition:1s ease-in-out;
}

.footerContainer {
    height:100px;
    background-color:#1D1128;
}

@media only screen
    and (max-width:500px) {
        .columnTitle {
            width:90%;
            text-align:left;
            margin-bottom:20px;
        }
        .columnText {
            width:90%;
            font-size:1em;
            text-align:left;
        }
        .alternateImg {
            width:90%;
        }
        .rotate {
            top:75px;
            right:15px;
        }
        .footerContainer {
            margin-top:50px;
        }
}