* {
    padding:0;
    margin:0;
}
/* Wrapper */
#wrapper {
    background-color:#E2E6E6;
}

/* Phone Menu main container */
.phoneMenu {
    position:fixed;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:black;
    z-index:1000;
    opacity:0;
    transition:1s ease-in-out;
    top:-1000px;
}

/* Phone Menu list container */
.phoneMenuItems {
    width:60%;
    margin:0 auto;
    text-align:center;
    margin-top:175px;
}
/* Phone Menu unordered list items */
.phoneMenuItems ul li {
    line-height:3;
    list-style-type:none;
}
/* Phone Menu anchor tags(links) */
.phoneMenuItems ul li a {
    font-size:1.5em;
}
/* Phone Menu cancel button */
.x {
    margin-top:50px;
    font-size:3em;
}
.x:hover {
    cursor:pointer;
}
.menuBtnPhone:hover {
    opacity:0.8;
    cursor:pointer;
}
/* Two items - reducing css */
.phoneMenuItems ul li a, .x {
    font-family:alfa slab one;
    color:coral;
    text-decoration:none;
}

/* Main header at top of page */
.mainBlock {
    height:auto;
    padding-bottom:125px;
    background-color:#1D1128;
    opacity:0.95;
    overflow:hidden;
    background-image:url('../Backgrounds/portfolioBG.png');
    background-repeat:no-repeat;
    background-size:cover;
}
/* Main text in the header block */
.mainTitle {
    width:60%;
    margin:0 auto;
    text-align:center;
    font-family:alfa slab one;
    margin-top:175px;
    font-size:2.4em;
    color:white;
}
/* A word singled out from the mainTitle text(Adam) */
.mainTitleName {
    display:inline-block;
}
/* Underlines first letter of the chosen word(Adam) */
.mainTitleName::first-letter {
    border-bottom:3px solid coral;
}
/* Text underneath the main title */
.mainText {
    width:80%;
    display:block;
    margin: 0 auto;
    text-align:center;
    margin-top:15px;
    font-family:open sans;
    font-size:1.2em;
    color:white;
    opacity:0.8;
}

/* Large home button at bottom of main header */
.homeBtn {
    display:block;
    margin:0 auto;
    margin-top:150px;
    border:none;
    background-color:coral;
    transition:0.25s ease-in-out;
    border-radius:5px;
    font-family:alfa slab one;
    font-size:1.4em;
    color:white;
    padding:12px;
    width:150px;
    text-decoration:none;
}

/* Container for buttons at top left of page */
.menuBtnContainer {
    position:fixed;
    width:150px;
    height:200px;
    padding-top:25px;
    padding-left:20px;
    overflow:hidden;
    z-index:1000;
}

/* Buttons inside the menuBtnContainer */
.aboutBtn, .interestsBtn{
    display:block;
    margin-top:15px;
    margin-left:-125px;
    font-family:open sans;
    color:white;
    width:100px;
    font-size:1.2em;
    transition:0.5s ease-in-out;
    z-index:1;
}

/* Colors the first letter of each button */
.aboutBtn::first-letter, .interestsBtn::first-letter {
    color:coral;
}

/* Fade to coral on hover */
.aboutBtn:hover, .interestsBtn:hover {
    text-decoration:none;
    color:coral;
}

/* Menu icon */
.menuBtn {
    width:50px;
    transition:0.25s ease-in-out;
    z-index:1111;
}

/* Menu icon for phone */
.menuBtnPhone {
    width:50px;
    position:fixed;
    transition:0.25s ease-in-out;
    z-index:1000;
    top:0;
    left:0;
    margin:20px;
    opacity:0.5;
    display:none;
}

/* On button hover animate */
.homeBtn:hover, .menuBtn:hover {
    opacity:0.8;
    cursor:pointer;
}

/* Line break */
.lineBreak {
    margin:0 auto;
    width:8%;
    border-top:1px solid grey;
    margin-top:75px;
    margin-bottom:50px;
    opacity:0.4;
}

/* Line break text - experienced in .. */
.lineBreakText {
    text-align:center;
    font-family:sacramento;
    font-size:3.4em;
    opacity:0.8;
    width:75%;
    margin:0 auto;
}
.lineBreakAnd {
    font-size:0.8em;
}

/* Language containers (what I'm experienced at) */
.htmlBlock, .cssBlock, .javascriptBlock, .jqueryBlock, .bootstrapBlock {
    height:auto;
    margin-top:50px;
    background-color:#51A9;
    padding:25px;
    opacity:0;
    float:none;
    text-align:center;
}

/* Decorative number at top of each project */
.websiteNumber {
    height:100px;
    width:100px;
    border-radius:50px;
    background-color:coral;
    padding-top:15px;
    font-family:alfa slab one;
    font-size:3em;
    margin:0 auto;
    margin-top:25px;
    margin-bottom:20px;
}

/* Main project container */
.projectContainer {
    width:450px;
    height:450px;
    border:1px solid black;
    margin:0 auto;
    margin-bottom:20px;
    background-color:#31263A;
    transition:0.25s ease-in-out;
    background-image:url('../Images/movieWebsiteImg.png');
    background-size:cover;
    border:10px solid white;
    border-radius:5px;
    box-shadow:25px 25px 50px 0px rgba(0,0,0,0.05);
    opacity:1;
}
.container2, .container3 {
    background-image:none;
}

.underConstruText {
    color:white;
    opacity:0.8;
    margin-top:100px;
}
.underConstruImg {
    width:125px;
    margin-top:50px;
    opacity:0.8;
}

/* On hover or on touch display hidden menu */
.projectContainer:hover .projectHiddenMenu, .projectContainer:focus .projectHiddenMenu {
    display:block;
}

/* Hidden menu container */
.projectHiddenMenu {
    height:450px;
    width:450px;
    position:relative;
    right:10px;
    bottom:10px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.8);
    display:none;
    overflow:hidden;
}

/* Hidden menu icons and text */
.viewLangText, .viewLangImg, .viewWebsiteText, .viewWebsiteImg {
    position:absolute;
    opacity:0.8;
    color:white;
    font-family:open sans;
}

/* Hidden menu icons */
.viewLangImg, .viewWebsiteImg {
    transition:0.25s ease-in-out;
    top:235px;
    width:50px;
}

/* hidden menu text */
.viewLangText, .viewWebsiteText {
    transition:0.50s ease-in-out;
    top:175px;
}

/* Icons on hover */
.viewLangImg:hover, .viewWebsiteImg:hover {
    opacity:1;
    cursor:pointer;
}

/* Icon and text placement */
.viewLangText {
    left:75px;
}
.viewLangImg {
    left:108px;
}
.viewWebsiteText {
    right:100px;
}
.viewWebsiteImg {
    right:108px;
}

/* List of langs used */
.projectTechList {
    color:white;
    transition:0.25s ease-in-out;
    opacity:1;
    margin-top:80px;
}


/* List of langs used */
.projectTechList ul li {
    padding:5px;
    font-size:1em;
    list-style-type:none;
    opacity:0.8;
    margin-left:1000px;
}

/* Back btn */
.li9:hover {
    text-decoration:underline;
    cursor:pointer;
    opacity:1;
    color:coral;
}

/* Used in JS - this class is added to the html on scroll - it makes the blocks appear/fade in */
.afterScroll {
    transition:0.25s ease-in-out;
    opacity:1;
    width:100%;
}

/* Project title */
.blockTitle {
    font-family:alfa slab one;
    font-size:2.6em;
    color:#1D1128;
    width:50%;
    opacity:0.9;
    margin:0 auto;
    margin-bottom:25px;
    text-align:center;
}
/* Underscores first letter of title */
.blockTitle::first-letter {
    border-bottom:3px solid coral;
}

/* Project small text */
.blockPara {
    font-family:open sans;
    font-size:1.4em;
    line-height:1.6;
    width:25%;
    margin-top:50px;
    margin:0 auto;
}

/* Footer at bottom of page */
#footer {
    height:100px;
    background-color:#1D1128;
    width:100%;
    margin-top:50px;
}








/* Under 500px screen size */
@media only screen 
    and (max-width:500px) {
        
        .lineBreak, .menuBtn, .menuBtnContainer {
            display:none;
        }
        .projectHiddenMenu, .projectContainer {
            width:275px;
            height:275px;
        }
        .menuBtnPhone {
            display:block;
        }
        .blockTitle {
            font-size:2em;
            text-align:center;
            width:90%;
        }
        .blockPara {
            width:90%;
            font-size:1em;
            margin-bottom:-25px;
        }
        .websiteNumber {
            margin-top:-25px;
        }
        .lineBreakText {
            font-size:2.6em;
            width:75%;
            margin:0 auto;
            margin-top:50px;
        }
        .viewWebsiteImg, .viewLangImg {
            top:135px;
        }
        .viewWebsiteText, .viewLangText {
            top:80px;
        }
        .viewWebsiteImg {
            right:50px;
        }
        .viewLangImg {
            left:50px;
        }
        .viewWebsiteText {
            right:42px;
        }
        .viewLangText {
            left:38px;
            width:75px;
            top:55px;
        }
        .projectTechList {
            margin-top:25px;
        }
        .projectTechlist ul {
            font-size:0.8em;
        }
        
        .homeBtn {
            margin-top:50px;
        }
        .mainTitle {
            margin-top:100px;
        }
        .mainBlock {
            height:500px;
            padding-bottom:25px;
        }
        .underConstruText {
            font-size:1em;
            margin-top:50px;
        }
        .underConstruImg {
            width:100px;
            margin-top:25px;
        }
}

/* Changes width of text onscreen so it's not squashed */
@media only screen
    and (min-width:501px)
    and (max-width:1400px) {
        
        .blockPara {
            width:50%;
        }
}

/* Phones */
@media only screen 
    and (max-device-width:500px)
    and (orientation: portrait) {
        
        .mainTitle {
            margin-top:100px;
        }
        .mainBlock {
            height:475px;
        }
        .menuBtn {
            display:none;
        }
        .menuBtnPhone {
            display:block;
            width:50px;
        }
        .x {
            margin-top:10px;
        }
        .homeBtn {
            margin-top:50px;
            width:100px;
            font-size:1em;
        }
        .projectContainer {
            width:275px;
            height:275px;
        }
        .blockTitle, .blockPara {
            width:90%;   
        }
        .blockPara {
            margin-bottom:-25px;
        }
        .lineBreakText {
            font-size:2.6em;
            width:75%;
            margin:0 auto;
            margin-top:75px;
        }
        .websiteNumber {
            margin-top:0px;
        }
        .phoneMenuItems {
            margin-top:75px;
        }
}

@media only screen 
    and (max-device-width:800px)
    and (orientation: landscape) {
        
        .lineBreak, .menuBtn, .menuBtnContainer {
            display:none;
        }
        .projectHiddenMenu, .projectContainer {
            width:275px;
            height:275px;
        }
        .menuBtnPhone {
            display:block;
        }
        .phoneMenuItems {
            margin-top:50px;
        }
        .x {
            margin-top:10px;
        }
        .blockTitle {
            font-size:2em;
            text-align:center;
            width:90%;
        }
        .blockPara {
            width:60%;
            font-size:1em;
        }
        .websiteNumber {
            margin-top:-25px;
        }
        .lineBreakText {
            font-size:2.6em;
            width:75%;
            margin:0 auto;
            margin-top:50px;
        }
        .viewWebsiteImg, .viewLangImg {
            top:135px;
        }
        .viewWebsiteText, .viewLangText {
            top:80px;
        }
        .viewWebsiteImg {
            right:50px;
        }
        .viewLangImg {
            left:50px;
        }
        .viewWebsiteText {
            right:42px;
        }
        .viewLangText {
            left:38px;
            width:75px;
            top:55px;
        }
        .projectTechList {
            margin-top:25px;
        }
        .projectTechlist ul {
            font-size:0.8em;
        }
        
        .homeBtn {
            margin-top:50px
        }
        .mainTitle {
            margin-top:100px
        }
        .mainBlock {
            height:475px
        }
        .underConstruText {
            font-size:1em;
            margin-top:50px;
        }
        .underConstruImg {
            width:100px;
            margin-top:25px;
        }
}